<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008436189616-c1v159rdklovlpjumspv4pr3i2ssovjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008436189616-c1v159rdklovlpjumspv4pr3i2ssovjl</string>
	<key>API_KEY</key>
	<string>AIzaSyAbSpRRQ9TkpmXDBs4GcXShOLx740-o6Os</string>
	<key>GCM_SENDER_ID</key>
	<string>1008436189616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorwang.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d9975</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d9975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008436189616:ios:27dce0f26b9b48aaa0de75</string>
</dict>
</plist>